.DS_Store
.file_versions
.gitkeep
.log
.logs/
.mage_temp_profiles
.preferences.yaml
.variables/
__pycache__/
docker-compose.override.yml
logs/
mage-ai.db
mage_data/
secrets/
/Users/joeraymond/Desktop/Data_Science_Projects/Data_Warehousing_Project/Mage_ETL/io_config.yaml